.popup {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    grid-row: 1;
    grid-column: 2;
    float: right;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    object-fit: cover; 
    border-radius: 50%;
  }
}

.popup-content {
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  width: fit-content;
  position: relative;
  text-align: left;
  max-width: 30%;
  max-height: 50%;
  overflow-y: auto;
  scrollbar-width: thin;

  p {
    grid-column: 1;
    grid-row: 1;
  }

  .popup-buttons {
    grid-row: 3;
    grid-column: 1;
    padding-right: 5px;
    display: flex;
  }
}

.popup .close {
  grid-column: 2;
  justify-self: end; 
  grid-row: 1;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}